<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link href="http://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <style>
  body {
      font: 400 15px/1.8 Lato, sans-serif;
      color: #777;
  }
  h3, h4 {
      margin: 10px 0 30px 0;
      letter-spacing: 10px;
      font-size: 20px;
      color: #111;
  }
  .container {
      padding: 80px 120px;
  }
  .person {
      border: 10px solid transparent;
      margin-bottom: 25px;
      width: 80%;
      height: 80%;
      opacity: 0.7;
  }
  .person:hover {
      border-color: #f1f1f1;
  }
  .carousel-inner img {
      -webkit-filter: grayscale(90%);
      filter: grayscale(90%); /* make all photos black and white */
      width: 100%; /* Set width to 100% */
      margin: auto;
  }
  .carousel-caption h3 {
      color: #fff !important;
  }
  @media (max-width: 600px) {
    .carousel-caption {
      display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
    }
  }
  .bg-1 {
      background: #2d2d30;
      color: #bdbdbd;
  }
  .bg-1 h3 {color: #fff;}
  .bg-1 p {font-style: italic;}
  .list-group-item:first-child {
      border-top-right-radius: 0;
      border-top-left-radius: 0;
  }
  .list-group-item:last-child {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
  }
  .thumbnail {
      padding: 0 0 15px 0;
      border: none;
      border-radius: 0;
  }
  .thumbnail p {
      margin-top: 15px;
      color: #555;
  }
  .btn {
      padding: 10px 20px;
      background-color: #333;
      color: #f1f1f1;
      border-radius: 0;
      transition: .2s;
  }
  .btn:hover, .btn:focus {
      border: 1px solid #333;
      background-color: #fff;
      color: #000;
  }
  .modal-header, h4, .close {
      background-color: #333;
      color: #fff !important;
      text-align: center;
      font-size: 30px;
  }
  .modal-header, .modal-body {
      padding: 40px 50px;
  }
  .nav-tabs li a {
      color: #777;
  }
  #googleMap {
      width: 100%;
      height: 400px;
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
  }
  .navbar {
      font-family: Montserrat, sans-serif;
      margin-bottom: 0;
      background-color: #2d2d30;
      border: 0;
      font-size: 11px !important;
      letter-spacing: 4px;
      opacity: 0.9;
  }
  .navbar li a, .navbar .navbar-brand {
      color: #d5d5d5 !important;
  }
  .navbar-nav li a:hover {
      color: #fff !important;
  }
  .navbar-nav li.active a {
      color: #fff !important;
      background-color: #29292c !important;
  }
  .navbar-default .navbar-toggle {
      border-color: transparent;
  }
  .open .dropdown-toggle {
      color: #fff;
      background-color: #555 !important;
  }
  .dropdown-menu li a {
      color: #000 !important;
  }
  .dropdown-menu li a:hover {
      background-color: red !important;
  }
  footer {
      background-color: #2d2d30;
      color: #f5f5f5;
      padding: 32px;
  }
  footer a {
      color: #f5f5f5;
  }
  footer a:hover {
      color: #777;
      text-decoration: none;
  }
  .form-control {
      border-radius: 0;
  }
  textarea {
      resize: none;
  }
  </style>
</head>
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="50">

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#myPage">Vardhman Maternity Home</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#contact">CONTACT US</a></li>
      </ul>
    </div>
  </div>
</nav>

<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src="hms.jpe" alt="a" width="1000" height="500">
        <div class="carousel-caption">
          <h4>State of the art technologies</h4>
        </div>
      </div>

      <div class="item">
        <img src="hms2.jpg" alt="b" width="1000" height="400">
        <div class="carousel-caption">
          <h4> World Class facilities</h4>
        </div>
      </div>

      <div class="item">
        <img src="hms3.jpg" alt="c" width="1200" height="700">
        <div class="carousel-caption">
          <h3> India's best doctors </h3>
        </div>
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
</div>

<!-- Container (The Band Section) -->
<div id="band" class="container text-center">
  <h3>ABOUT US</h3>
  <p><em>We care!</em></p>
  <p>Vardhman Maternity Home offers the full spectrum of women's health care services. We offer state-of-the-art technologies with superlative care offeing a range of services such as painless deliveries, management of high risk pregnancies/late pregnancies, among others.
Vardhman Maternity Home offers expert gynaecological treatment and specialist services for special disease groups. Women in different age groups have different health concerns, which are appropriately addressed. The hospital provides comprehensive treatment for fibroids including open myomectomies unsuitable for endoscopic (keyhole) surgery. </p>
  <br>
  <div class="row">
    <div class="col-sm-4">
      <p class="text-center"><strong>Dr. Seema Mehta</strong></p><br>
        <img src="dr1.jpg" class="img-circle person" alt="Random Name" width="255" height="255">
      <div id="demo" class="collapse">
      </div>
    </div>
    <div class="col-sm-4">
      <p class="text-center"><strong>Dr. Sangeeta Gupta</strong></p><br>
        <img src="dr2.jpg" class="img-circle person" alt="Random Name" width="255" height="255">
      <div id="demo2" class="collapse">
      </div>
    </div>
    <div class="col-sm-4">
      <p class="text-center"><strong>Dr. Anu Ranjan</strong></p><br>
        <img src="dr3.jpg" class="img-circle person" alt="Random Name" width="255" height="255">
      <div id="demo3" class="collapse">
      </div>
    </div>
  </div>
</div>

<div id="tour" class="bg-1">
  <div class="container">
    <h3 class="text-center">LOG IN</h3>

    <div class="row text-center">
      <div class="col-sm-4">
        <div class="thumbnail">
          <img src="doctor.jpg" alt="Doctor" width="400" height="300">
          <p><strong>Doctor</strong></p>
	  <form class="form-horizontal">
<fieldset>

<!-- Form Name -->
<legend>Login</legend>
<form method="post" action="authentication.php">
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" name="username" class="form-control" id="username" placeholder="Username" required>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" name="password" class="form-control" id="password" placeholder="Password" required>
        </div>
        <input type="hidden" value="true" name="submitted">
        <center><button type="submit" class="btn btn-primary">Submit</button></center>
      </form>
    </div>
  </div>
<!--<form method="post" action="authentication.php">

<!--<div class="form-group">
  <label class="col-md-4 control-label" for="username">Username</label>
  <div class="col-md-4">
  <input id="username" name="username" type="text" placeholder="Username" class="form-control input-md">

  </div>
</div>

<div class="form-group">
  <label class="col-md-4 control-label" for="password">Password</label>
  <div class="col-md-4">
    <input id="password" name="password" type="password" placeholder="Password" class="form-control input-md">

  </div>
</div>

</fieldset>
</form>
<input type="hidden" value="true" name="submitted">


          <button class="btn" data-toggle="modal" data-target="#myModal">Log In</button>
        </div>
      </div>
    </form>-->
      <div class="col-sm-4">
        <div class="thumbnail">
          <img src="admin.jpe" alt="Admin" width="400" height="300">
          <p><strong>Admin</strong></p>
          <form class="form-horizontal">
          <fieldset>

          <!-- Form Name -->
          <legend>Login</legend>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-4 control-label" for="username">Username</label>
            <div class="col-md-4">
            <input id="username" name="username" type="text" placeholder="Username" class="form-control input-md">

            </div>
          </div>

          <!-- Password input-->
          <div class="form-group">
            <label class="col-md-4 control-label" for="password">Password</label>
            <div class="col-md-4">
              <input id="password" name="password" type="password" placeholder="Password" class="form-control input-md">

            </div>
          </div>

          </fieldset>
          </form>

          <button class="btn" data-toggle="modal" data-target="#myModal">Log In</button>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <img src="staff.jpg" alt="Staff" width="400" height="300">
          <p><strong>Staff</strong></p>
          <form class="form-horizontal">
          <fieldset>

          <!-- Form Name -->
          <legend>Login</legend>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-4 control-label" for="username">Username</label>
            <div class="col-md-4">
            <input id="username" name="username" type="text" placeholder="Username" class="form-control input-md">

            </div>
          </div>

          <!-- Password input-->
          <div class="form-group">
            <label class="col-md-4 control-label" for="password">Password</label>
            <div class="col-md-4">
              <input id="password" name="password" type="password" placeholder="Password" class="form-control input-md">

            </div>
          </div>

          </fieldset>
          </form>

          <button class="btn" data-toggle="modal" data-target="#myModal">Log In</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Footer -->
<footer class="text-center">
  <a class="up-arrow" href="#myPage" data-toggle="tooltip" title="TO TOP">
    <span class="glyphicon glyphicon-chevron-up"></span>
  </a><br><br>
  <p>Made By <a href="http://www.thapar.edu" data-toggle="tooltip" title="Visit Thapar.edu">Thapar University</a></p>
</footer>

<script>
$(document).ready(function(){
  // Initialize Tooltip
  $('[data-toggle="tooltip"]').tooltip();

  // Add smooth scrolling to all links in navbar + footer link
  $(".navbar a, footer a[href='#myPage']").on('click', function(event) {

    // Prevent default anchor click behavior
    event.preventDefault();

    // Store hash
    var hash = this.hash;

    // Using jQuery's animate() method to add smooth page scroll
    // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
    $('html, body').animate({
      scrollTop: $(hash).offset().top
    }, 900, function(){

      // Add hash (#) to URL when done scrolling (default click behavior)
      window.location.hash = hash;
    });
  });
})
</script>
